<div class="container-fluid text-monospace">
    <section style="background-image: linear-gradient(#F4F4F4,#F7F7F7,#FBFBFB, #FDFDFD); text-align: center;">
    <div style="color: #4D4D4D">
        <img src="/images/sad-face.png" alt="Sad Face" style="height: 2.5rem; width: 2.5rem;">
        <h2 style="line-height: 2.4rem;">No Favorites Added Yet... </h2>
    </div>
    </section>
</div>