<html>
    <head>

        <meta name="viewport" content="width=device-width, initial-scale=1" charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title><%= title%></title>
        <!-- Font Awesome -->
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <!-- Google Fonts -->
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap">
        <!-- Bootstrap core CSS -->
        <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet">
        <!-- Material Design Bootstrap -->
        <link href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.18.0/css/mdb.min.css" rel="stylesheet">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
        
        <!-- JQuery -->
     <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
     <!-- Bootstrap tooltips -->
     <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.4/umd/popper.min.js"></script>
     <!-- Bootstrap core JavaScript -->
     <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.4.1/js/bootstrap.min.js"></script>
     <!-- MDB core JavaScript -->
     <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.18.0/js/mdb.min.js"></script>
     <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

        <link rel="stylesheet" href="/css/card_dimensions.css">
        <link rel="stylesheet" href="/css/signup.css">
        <link rel="stylesheet" href="/css/add_recipe.css">
        <link rel="stylesheet" href="/css/show_recipe.css">
        <link rel="stylesheet" href="/css/new_home.css">
        <link rel="stylesheet" href="/css/new-signin.css">
        <link rel="stylesheet" href="/css/new-signup.css">
    </head>

    <body>
        <% if(locals.user){%>
            <%- include('codeeverywhere') %><br>
        <%} else {%>
            <%- include('codeeverywhere_notlogin') %><br>
        <%}%>
        <%- body %>

        
    <script>
        $(function () {
  $(document).scroll(function () {
    var $nav = $(".sticky-top");
    $nav.toggleClass('bg-scrolled', $(this).scrollTop()>5);

    var $a=$(".acolor");
    $a.toggleClass('text-color',$(this).scrollTop()>5);
  });
});
    </script>
    <script src="/js/iconchange.js"></script>
    <script src="/js/postajax.js"></script>
    <script src="/js/toggle_likes.js"></script>
<script>
    $('.toggle-like-button').each(function(){
        let self = this;
        let toggleLike = new ToggleLike(self);
    });
</script>
    </body>

</html>