<div class="container-fluid text-monospace">
    <section style="background-image: linear-gradient(#F4F4F4,#F7F7F7,#FBFBFB, #FDFDFD);">
    <div style="color: #4D4D4D">
        <h2 style="line-height: 2.4rem;">Here are some of your Recipes... </h2>
        <h6 style="margin-left: 2rem;line-height: 2.4rem;font-size: 1.3rem;">Your Own Twist Of Taste, Your Hardwork, Everything</h6>
        <h2 style="margin-left: 18rem;">Keep Cooking!!!</h2><br>
    </div>
    <div class="row row-cols-4 row-cols-md-4">
    <% for (r of recipe){%> 
        <div class="col mb-4">
        <!-- Dynamic Card Begins -->
        <div class="card" id="card_dynamic">
    
          <!--Card image-->
          <div class="view overlay">
            <img class="card-img-top" src="<%=r.photo%>" alt="Card image cap">
            <!-- <a href="#!">
              <div class="mask rgba-white-slight"></div>
            </a> -->
            <a type="button" class="btn-floating btn-lg"><i class="fas fa-heart" aria-hidden="true" style="font-size: 30px;"></i></a>
          </div>
    
          <!--Card content-->
          <div class="card-body">
    
            <!--Title-->
            <h4 class="card-title"><%= r.name%></h4>
            <!--Text-->
            <p class="card-text"><%= r.description%></p>
            <!-- Provides extra visual weight and identifies the primary action in a set of buttons -->
            <a href="/users/show_recipe/<%= r.name%>" type="button" class="btn btn-light-blue btn-md">Read Recipe</a>
    
          </div>
    
        </div>
        </div>
        <%}%>
        <!-- Dynamic Card Ends -->
      </div>
    </div>
</section>
</div>