.card-chefimg{
    margin-left: 35%;
    width: 10rem;
    margin-bottom: -3rem;
}

.card-head{
    margin-bottom: -3rem;
    margin-left: 5rem;
}

.card-head-span{
    float: right;
    margin-right:6rem ;
}